<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background-color: #fff;
      padding: 20px 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .container fieldset {
      border: none;
    }
    .ghost-input {
      width: calc(100% - 22px);
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .ghost-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .ghost-button:hover {
      background-color: #0056b3;
    }
    .action-links {
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: 20px;
}

.action-links form {
    margin-bottom: 10px;
}
    button {
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }

  </style>
</head>
<body>
  <div class="container">
    <fieldset>
      <form action="/weather" method="post">
        <input name="city" type="text" class="ghost-input" placeholder="Enter a City">
        <input name="longitude" type="number" step="any" class="ghost-input" placeholder="Longitude">
        <input name="latitude" type="number" step="any" class="ghost-input" placeholder="Latitude">
        <input type="submit" class="ghost-button" value="Get Weather">
      </form>
      <% if(weather !== null){ %>
        <h3><%= weather %></h3>
      <% } %>
      <% if(error !== null){ %>
        <p><%= error %></p>
      <% } %>
      <% if(weather !== null){ %>
        <p>Minimum Temperature: <%= minTemp %>°C</p>
        <p>Maximum Temperature: <%= maxTemp %>°C</p>
        <p>Pressure: <%= pressure %> hPa</p>
        <p>Wind Speed: <%= windSpeed %> m/s</p>
      <% } %>
    </fieldset>
    <div class="container">
      <div class="action-links">
          <form method="get" action="/top-news">
              <button>Want some news?</button>
          </form>
          <form method="get" action="/nasa-picture">
            <button>Want a NASA picture?</button>
        </form>
      </div>
  </div>
    <footer>Bayazitova Kamila | SE-2206</footer>
    </div>
</body>
</html>
